---
version: 0.1
log:
  level: debug
  formatter: json
  fields:
    service: registry
storage:
  filesystem:
    rootdirectory: {{ registry_storage_path }}
  delete:
    enabled: true
auth:
  htpasswd:
    realm: local-registry
    path: /etc/docker/registry/auth/htpasswd
http:
  addr: :5000
  host: https://{{ registry_domain }}
  tls:
    certificate: /etc/docker/registry/tls/fullchain.pem
    key: /etc/docker/registry/tls/privkey.pem
  accesslog:
    disabled: false
proxy:
  remoteurl: https://registry-1.docker.io
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
