---
version: 0.1
log:
  accesslog:
    disabled: true
  level: debug
  formatter: json
  fields:
    service: mirror_registry
    environment: home-lab
storage:
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
  cache:
      blobdescriptor: inmemory
  tag:
    concurrencylimit: 5
http:
  addr: :5000
  debug:
    addr: :5001
    prometheus:
      enabled: true
      path: /metrics
proxy:
  remoteurl: https://registry-1.docker.io
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
